{% extends "home.html" %}
    {% block content %}
<div id="div-main"><h1 id="h1-main">Bem vindo a nossa plataforma</h1>
    <p>Transforme suas ideias em projetos incríveis com a nossa plataforma! <br>Aqui, o foco é impulsionar sua criatividade e produti
    vidade, <br>oferecendo uma experiência única para est
    udantes que buscam organizar, colaborar e realizar seus
     objetivos.</p>
     <br>
     <ul id="ul-main"> 
     <li><h3 class="h3-main">Brainstorming inteligente:</h3><p>Capture, desenvolva e organize suas ideias em um espaço interativo com agente AI especializado.</p></li> 
     <li><h3 class="h3-main">Mapas mentais:</h3 class=><p>Visualize conexões e estratégias de forma prática e intuitiva.
</p></li> 
     <li><h3 class="h3-main">Lista To-Do interativa: </h3><p>descrição baseada na funcionalidade</p></li> 
    </div>
{% endblock content%}

